.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/
.idea/
*.iml
.DS_Store
android/.gradle/
android/local.properties
android/key.properties
android/app/*.jks
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
*.p8
*.p12
*.mobileprovision
.env
.env.*
__pycache__/

